<nav
  class="nav-mobile sm:hidden translate-x-full fixed h-screen bg-dark-blue w-screen top-0 left-0 z-10 py-48 px-5 text-white space-y-10"
>
  <ul class="flex flex-col items-center space-y-10">
    <li class="nav__link text-2xl">
      <a href="#">Equipment</a>
    </li>
    <li class="nav__link text-2xl">
      <a href="#">About us</a>
    </li>
    <li class="nav__link text-2xl">
      <a href="#">Blog</a>
    </li>
  </ul>
  <div class="flex justify-center items-center space-x-10">
    <div class="socials__link">{% include '../hero/instagram-link.njk' %}</div>
    <div class="socials__link">{% include '../hero/twitter-link.njk' %}</div>
  </div>
</nav>
