<a href="#" class="flex text-smooth-yellow hover:opacity-75 hover:translate-x-1  transition-all">
  <span class="mr-4 leading-6 text-lg font-bold selection-text">read more</span>
  {% include './arrow_downward.njk' %}
</a>
