<footer>
  <div class="flex flex-col sm:flex-row justify-between ">
    <div class="flex flex-col justify-between mb-10 sm:mb-0 sm:mr-10">
      <div class="flex flex-col max-w-[303px] mb-5 sm:mb-0">
        <a href="#" class="mb-6">
          <span class="text-3xl font-chronicle selection-bg-text">MNTN</span>
        </a>
        <p class="text-lg leading-8 font-bold selection-text">Get out there & discover your next slope, mountain & destination!</p>
      </div>
      <p class="font-medium text-base sm:text-lg opacity-50 selection-text">Copyright 2019 MNTN, Inc. Terms & Privacy</p>
    </div>

    <div class="flex flex-col sm:flex-row">
      <div class="flex flex-col mr-10 lg:mr-24 xl:mr-[212px] min-w-[130px] mb-8 sm:mb-0">
        <h4 class="footer__heading">More on The Blog</h4>
        <div class="footer__links">
          <a href="#" class="hover-default selection-text">About MNTN</a>
          <a href="#" class="hover-default selection-text">Contributors & Writers</a>
          <a href="#" class="hover-default selection-text">Write For Us</a>
          <a href="#" class="hover-default selection-text">Contact Us</a>
          <a href="#" class="hover-default selection-text">Privacy Policy</a>
        </div>
      </div>
      <div class="flex flex-col min-w-[110px]">
        <h4 class="footer__heading">More on MNTN</h4>
        <div class="footer__links">
          <a href="#" class="hover-default selection-text">The Team</a>
          <a href="#" class="hover-default selection-text">Jobs</a>
          <a href="#" class="hover-default selection-text">Press</a>
        </div>
      </div>
    </div>
  </div>
</footer>
